.home {
  text-align: center;
}

.home h1 {
  font-size: 24px;
}

.home .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.home .row {
  margin: 0;
}

.hack-row {
  border-bottom: 1px solid #efeeee;
}

.hack-input-row {
  position: relative;
}

.unit {
  position: absolute;
  top: 9px;
  right: 16px;
  color: #666;
}

.hack-col {
  position: relative;
}

.year {
  position: absolute;
  top: 9px;
  right: 10px;
  color: #666;
}

.month {
  position: absolute;
  top: 9px;
  right: 16px;
  color: #666;
}

.hack-select-button {
  text-align: right;
  line-height: 38px;
}

.car-type {
  float: left;
  color: #666;
}

.hack-select-button .fa {
  font-size: 18px;
  margin-right: 10px;
}
.home .text-input,
.home label {
  display: inline-block;
  width: 100%;
  line-height: 38px;
}

.home label {
  color: #666;
}
.home .text-input {
  border: none;
  margin-right: 5px;
  outline: none;
  font-size: 16px;
}

.home button {
  width: 90%;
  background: #ff5722;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
  margin-top: 20px;
  line-height: 32px;
}
